#action-group {
  width: 374px;
  height: 72px;
  margin: 712px 0 0;
  padding: 15.5px 6px 16.5px 24px;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
}