.action-button {
  background-color: white;
  border: 0;
  display: table-cell;
  align-items: center;
  display: flex;
  cursor: pointer;
  height: 50px;
}

.action-button:hover {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.action-button .action-name {
  height: 20px;
  font-family: AppleSDGothicNeo;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin: 0 0 0 16px;
}

.action-button .action-icon {
  width: 30px;
  height: 30px;
}