#action-group {
  width: 360px;
  height: 72px;
  margin: 0 24px 24px 0;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 1;
  padding: 0 0 0 14px;
}
